/test_main.http
/frontend/
/.venv/
/backend/app/.env
*.mp4
*.wav
/backend/app/Translation/models/whisper_medium/medium.en.pt
/backend/app/Translation/models/qwen/
/backend/app/Translation/models/whisper/
/backend/app/Translation/temp/temp_transcription.json
/backend/app/Translation/models/mistral/
/backend/app/Translation/models/nllb/
/backend/app/logs/transcription_logger.log
/backend/app.db
/backend/alembic/versions/74cda79eced5_initial_tables.py
/backend/alembic/versions/576fc61e7d57_initial_tables.py
