/test_main.http
/frontend/
/.venv/
/backend/.env
*.mp4
*.wav
/backend/app/translation/models/whisper_medium/medium.en.pt
/backend/app/translation/models/qwen/
/backend/app/translation/models/whisper/
/backend/app/translation/temp/temp_transcription.json
/backend/app/translation/models/mistral/
/backend/app/translation/models/nllb/
/backend/app/logs/transcription_logger.log
/backend/app.db
/backend/alembic/versions/74cda79eced5_initial_tables.py
/backend/alembic/versions/576fc61e7d57_initial_tables.py
